<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571897242234-6sa6cmlj0sstfgsjbe5hjg8gjf14hh0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571897242234-6sa6cmlj0sstfgsjbe5hjg8gjf14hh0u</string>
	<key>API_KEY</key>
	<string>AIzaSyDVmLoSKvnZcLXt_Ka2t0hJXL7GKParNBo</string>
	<key>GCM_SENDER_ID</key>
	<string>571897242234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentTutorApp</string>
	<key>PROJECT_ID</key>
	<string>project-8b069</string>
	<key>STORAGE_BUCKET</key>
	<string>project-8b069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571897242234:ios:f64b0cf87a6db6b5fc51c3</string>
	<key>DATABASE_URL</key>
	<string>https://project-8b069-default-rtdb.firebaseio.com</string>
</dict>
</plist>